NODE_ENV=staging
PORT=5001

MONGO_URI=mongodb://localhost:27017/ad-server

JWT_SECRET=fc6XEiu6wI/ygra3bID0sCXZ7LnC3R1RX7l/UCNdCS0=

BASE_URL=http://localhost:5001
DASHBOARD_URL=http://localhost:3000

CORS_ORIGIN=http://localhost:3000
